In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
#this section will be on the 28 features excel file

In [0]:
df=pd.read_excel("39 Features.xlsx")
#df.head(5)

In [0]:
#df.columns

In [0]:
#df['tumor_grade'].unique()

In [0]:
#df.isnull().sum()

In [0]:
#for i in df.columns:
  #print(str(i)+"--->",df[i].unique())

In [0]:
df.replace({'[not]':0,'[Unknown]':1,'[not ]':0,"Yes, History of Synchronous/Bilateral Malignancy":'Yes','Yes, History of Prior Malignancy':'Yes'},inplace=True)

In [0]:
for i in df.columns:
  print(str(i)+"--->",df[i].unique())

radiation_therapy_started_days_to---> [ 263  271   61  481  165    0  385  422   69  -72   21  603  227  298
  153  457 1755 1787 1903 1174 2070 1534  119  748  994  234    6  685
  702  324  477  600  483  169  301  729  842]
tumor_grade---> ['G4' 'G2' 'G3' 'G1']
laterality---> ['Right' 'Left']
prospective_collection---> ['NO' 0 'YES']
gender---> ['FEMALE' 'MALE']
race---> ['WHITE' 'BLACK OR AFRICAN AMERICAN' 0 'ASIAN']
ethnicity---> ['NOT HISPANIC OR LATINO' 0 'HISPANIC OR LATINO']
history_other_malignancy---> ['No' 'Yes']
history_neoadjuvant_treatment---> ['No' 'Yes']
lymph_nodes_examined_count---> [10  2  0 17  1  9  5 16 14  4 19  3 21  6 11  8  7 13 15 25]
lymph_nodes_examined_positive---> [0 2 1]
ajcc_tumor_pathologic_pt---> ['T3b' 'T3a' 'T1b' 'T1a' 'T2' 'T2a' 'T4' 'T1' 'T2b' 'T3c']
ajcc_nodes_pathologic_pn---> ['N0' 'NX' 'N1']
ajcc_metastasis_pathologic_pm---> ['M1' 'M0' 'MX']
ajcc_pathologic_tumor_stage---> ['Stage IV' 'Stage III' 'Stage I' 'Stage II']
vital_status_followup---> ['Dead' 'Alive' 0]
tumor_status_patient---> ['WITH TUMOR' 'TUMOR FREE' 0]
serum_calcium_level---> ['Normal' 'Low' 'Elevated' 0]
hemoglobin_level---> ['Low' 'Normal' 0 'Elevated']
platelet_count---> ['Normal' 'Low' 0 'Elevated']
white_cell_count---> ['Elevated' 'Normal' 0 'Low']
ecog_score_final---> [0 1 2 3]
new_tumor_event_dx_indicator---> [0 'YES' 'NO']
tissue_source_site---> ['BP' 'B0' 'CJ' 'DV' 'CW' 'CZ' 'B8' 'G6']
pharmaceutical_therapy_drug_name---> ['Sunitinib' 0 'xeloda' 'Sutent (Sunitinib)' 'Sorafenib - Nexavar'
 'Bevacizumab' 'Temsirolimus' 'proleukin (IL-2)' 'Gemcitabine' 'Avastin'
 'Sutent' 'Axitnib' 'Oncophage' 'Sorafenib' 'Interferon' 'IL-2'
 'gemcitabine' 'RAD001' 'avastin' 'Tarceva' 'Axitinib' 'thalidomide'
 'interferon-alpha' 'Xeloda' 'Pazopanib' 'Afinitor' 'Iressa' 'Zometa'
 'Interleukin-2' 'Everolimus' 'oncophage vaccine' 'Bay-439006' 'sorafenib'
 'sunitinib' 'Bortezomib' 'AZD' 'Intron A' 'nab-rapamycin' 'Roferon-A'
 'IFN-Alpha (Intron)' 'interleukin-2' 'Gemzar'
 'IL-2 Therapy (interleukin)' 'Gefitinib' 'Alpha Interferon' 'Nexavar'
 'Interleukin 2-high dose' 'IL-2 (high dose)' 'sutent (sunitinib)'
 'ZD6474']
pharmaceutical_therapy_type---> ['Targeted Molecular therapy' 0 'Chemotherapy' 'Immunotherapy'
 'Other, specify in notes']
pharmaceutical_tx_ongoing_indicator---> ['NO' 0 'YES']
pharmaceutical_treatment_duration---> [  24    0  511 2563   75  112  187    9  276  138   20   89  592   56
  130   30   70   60   83   92   42  126  203   52  158  501   63   28
   27  280  177  134  414  239 1029  341  133  163  115   79  519  323
  365  429  266   91   23  255  425   15  304   12   50    7  727  238
  124  183  514  485 1373  211   90  284  308   19   35  444    6  595
  721   98  520  168  426 1021   21   78  287  159 1189  146]
regimen_number---> [1 0 2 4 3 5]
route_of_administration---> ['PO' 0 'IV' 'SC' 'IV|PO']
therapy_regimen_drug---> ['PALLIATIVE' 0 'PROGRESSION' 'OTHER, SPECIFY IN NOTES' 'ADJUVANT'
 'RECURRENCE']
treatment_outcome_first_course---> [0 'Partial Remission/Response' 'Progressive Disease'
 'Complete Remission/Response' 'Stable Disease']
tumor_status_followup---> ['WITH TUMOR' 'TUMOR FREE' 0 1]
death_days_to---> [ 344    0 1625  563  446  822 1317  320  572   93  313  164  552 1714
  701  679 1343  166  162  224 2454  480 1337 1639 3615 1092  362  768
  571  206 1912 1493   42  770 2299  139  561 2227 1463  574 2343   59
 1964  202 1230  727 1590  828   69  878 1075  587 1200  992   41  485
 2256  329   62  932 1661 1986  841  819  782 1432 1034  709  311 1270
 2386  645 1133 1598  475  953 2190 1626 2105  722 1173  445  375 1111
  242]
new_tumor_event_dx_days_to---> [  13  243  265  359  137    0 2008  634  781   25   33  304  102 1717
 1727   17   78  595  110   23   75  144  259  441  725  -19  492  324
  213  153 1457 2780  457 2041  396 1709  886  694  485 2003 1821 1876
  330 1467 1530  399 3766    4  740  582  672  223  873 2004 1227   70
   61  295 1270  903  240 1423  208  169  322 -359  900  748  158  288
  736  188  990  685  442  352  357  278  160  454  299  604  597 1912
  423  538  377]
new_tumor_event_surgery_met---> ['NO' 'YES' 0]
treatment_outcome_at_tcga_followup---> [0 'Progressive Disease' 'Complete Remission/Response' 'Stable Disease' 1]
radiation_total_dose---> [3000 3250 3600    0 3500 2000 3750 2400   20 1200  360  240  300 2200
 4000 1800  860]
radiation_adjuvant_fractions_total---> [ 5 10  0  2 15  6  3  1 12]

In [0]:
for column in df.columns:
  if column not in ["lymph_nodes_examined_count","radiation_adjuvant_fractions_total","death_days_to","radiation_therapy_started_days_to","new_tumor_event_dx_days_to","radiation_total_dose","regimen_number"] :
    n=len(df[column].unique())
    l=[1+i for i in range(n)]
    map_dict={}
    l2=df[column].unique()
    for j in range(len(l2)):
      map_dict[l2[j]]=l[j]
    df[column].replace(map_dict,inplace=True)
    print(n,l2,map_dict)
df.head(10)

4 ['G4' 'G2' 'G3' 'G1'] {'G4': 1, 'G2': 2, 'G3': 3, 'G1': 4}
2 ['Right' 'Left'] {'Right': 1, 'Left': 2}
3 ['NO' 0 'YES'] {'NO': 1, 0: 2, 'YES': 3}
2 ['FEMALE' 'MALE'] {'FEMALE': 1, 'MALE': 2}
4 ['WHITE' 'BLACK OR AFRICAN AMERICAN' 0 'ASIAN'] {'WHITE': 1, 'BLACK OR AFRICAN AMERICAN': 2, 0: 3, 'ASIAN': 4}
3 ['NOT HISPANIC OR LATINO' 0 'HISPANIC OR LATINO'] {'NOT HISPANIC OR LATINO': 1, 0: 2, 'HISPANIC OR LATINO': 3}
2 ['No' 'Yes'] {'No': 1, 'Yes': 2}
2 ['No' 'Yes'] {'No': 1, 'Yes': 2}
3 [0 2 1] {0: 1, 2: 2, 1: 3}
10 ['T3b' 'T3a' 'T1b' 'T1a' 'T2' 'T2a' 'T4' 'T1' 'T2b' 'T3c'] {'T3b': 1, 'T3a': 2, 'T1b': 3, 'T1a': 4, 'T2': 5, 'T2a': 6, 'T4': 7, 'T1': 8, 'T2b': 9, 'T3c': 10}
3 ['N0' 'NX' 'N1'] {'N0': 1, 'NX': 2, 'N1': 3}
3 ['M1' 'M0' 'MX'] {'M1': 1, 'M0': 2, 'MX': 3}
4 ['Stage IV' 'Stage III' 'Stage I' 'Stage II'] {'Stage IV': 1, 'Stage III': 2, 'Stage I': 3, 'Stage II': 4}
3 ['Dead' 'Alive' 0] {'Dead': 1, 'Alive': 2, 0: 3}
3 ['WITH TUMOR' 'TUMOR FREE' 0] {'WITH TUMOR': 1, 'TUMOR FREE': 2, 0: 3}
4 ['Normal' 'Low' 'Elevated' 0] {'Normal': 1, 'Low': 2, 'Elevated': 3, 0: 4}
4 ['Low' 'Normal' 0 'Elevated'] {'Low': 1, 'Normal': 2, 0: 3, 'Elevated': 4}
4 ['Normal' 'Low' 0 'Elevated'] {'Normal': 1, 'Low': 2, 0: 3, 'Elevated': 4}
4 ['Elevated' 'Normal' 0 'Low'] {'Elevated': 1, 'Normal': 2, 0: 3, 'Low': 4}
4 [0 1 2 3] {0: 1, 1: 2, 2: 3, 3: 4}
3 [0 'YES' 'NO'] {0: 1, 'YES': 2, 'NO': 3}
8 ['BP' 'B0' 'CJ' 'DV' 'CW' 'CZ' 'B8' 'G6'] {'BP': 1, 'B0': 2, 'CJ': 3, 'DV': 4, 'CW': 5, 'CZ': 6, 'B8': 7, 'G6': 8}
50 ['Sunitinib' 0 'xeloda' 'Sutent (Sunitinib)' 'Sorafenib - Nexavar'
 'Bevacizumab' 'Temsirolimus' 'proleukin (IL-2)' 'Gemcitabine' 'Avastin'
 'Sutent' 'Axitnib' 'Oncophage' 'Sorafenib' 'Interferon' 'IL-2'
 'gemcitabine' 'RAD001' 'avastin' 'Tarceva' 'Axitinib' 'thalidomide'
 'interferon-alpha' 'Xeloda' 'Pazopanib' 'Afinitor' 'Iressa' 'Zometa'
 'Interleukin-2' 'Everolimus' 'oncophage vaccine' 'Bay-439006' 'sorafenib'
 'sunitinib' 'Bortezomib' 'AZD' 'Intron A' 'nab-rapamycin' 'Roferon-A'
 'IFN-Alpha (Intron)' 'interleukin-2' 'Gemzar'
 'IL-2 Therapy (interleukin)' 'Gefitinib' 'Alpha Interferon' 'Nexavar'
 'Interleukin 2-high dose' 'IL-2 (high dose)' 'sutent (sunitinib)'
 'ZD6474'] {'Sunitinib': 1, 0: 2, 'xeloda': 3, 'Sutent (Sunitinib)': 4, 'Sorafenib - Nexavar': 5, 'Bevacizumab': 6, 'Temsirolimus': 7, 'proleukin (IL-2)': 8, 'Gemcitabine': 9, 'Avastin': 10, 'Sutent': 11, 'Axitnib': 12, 'Oncophage': 13, 'Sorafenib': 14, 'Interferon': 15, 'IL-2': 16, 'gemcitabine': 17, 'RAD001': 18, 'avastin': 19, 'Tarceva': 20, 'Axitinib': 21, 'thalidomide': 22, 'interferon-alpha': 23, 'Xeloda': 24, 'Pazopanib': 25, 'Afinitor': 26, 'Iressa': 27, 'Zometa': 28, 'Interleukin-2': 29, 'Everolimus': 30, 'oncophage vaccine': 31, 'Bay-439006': 32, 'sorafenib': 33, 'sunitinib': 34, 'Bortezomib': 35, 'AZD': 36, 'Intron A': 37, 'nab-rapamycin': 38, 'Roferon-A': 39, 'IFN-Alpha (Intron)': 40, 'interleukin-2': 41, 'Gemzar': 42, 'IL-2 Therapy (interleukin)': 43, 'Gefitinib': 44, 'Alpha Interferon': 45, 'Nexavar': 46, 'Interleukin 2-high dose': 47, 'IL-2 (high dose)': 48, 'sutent (sunitinib)': 49, 'ZD6474': 50}
5 ['Targeted Molecular therapy' 0 'Chemotherapy' 'Immunotherapy'
 'Other, specify in notes'] {'Targeted Molecular therapy': 1, 0: 2, 'Chemotherapy': 3, 'Immunotherapy': 4, 'Other, specify in notes': 5}
3 ['NO' 0 'YES'] {'NO': 1, 0: 2, 'YES': 3}
82 [  24    0  511 2563   75  112  187    9  276  138   20   89  592   56
  130   30   70   60   83   92   42  126  203   52  158  501   63   28
   27  280  177  134  414  239 1029  341  133  163  115   79  519  323
  365  429  266   91   23  255  425   15  304   12   50    7  727  238
  124  183  514  485 1373  211   90  284  308   19   35  444    6  595
  721   98  520  168  426 1021   21   78  287  159 1189  146] {24: 1, 0: 2, 511: 3, 2563: 4, 75: 5, 112: 6, 187: 7, 9: 8, 276: 9, 138: 10, 20: 11, 89: 12, 592: 13, 56: 14, 130: 15, 30: 16, 70: 17, 60: 18, 83: 19, 92: 20, 42: 21, 126: 22, 203: 23, 52: 24, 158: 25, 501: 26, 63: 27, 28: 28, 27: 29, 280: 30, 177: 31, 134: 32, 414: 33, 239: 34, 1029: 35, 341: 36, 133: 37, 163: 38, 115: 39, 79: 40, 519: 41, 323: 42, 365: 43, 429: 44, 266: 45, 91: 46, 23: 47, 255: 48, 425: 49, 15: 50, 304: 51, 12: 52, 50: 53, 7: 54, 727: 55, 238: 56, 124: 57, 183: 58, 514: 59, 485: 60, 1373: 61, 211: 62, 90: 63, 284: 64, 308: 65, 19: 66, 35: 67, 444: 68, 6: 69, 595: 70, 721: 71, 98: 72, 520: 73, 168: 74, 426: 75, 1021: 76, 21: 77, 78: 78, 287: 79, 159: 80, 1189: 81, 146: 82}
5 ['PO' 0 'IV' 'SC' 'IV|PO'] {'PO': 1, 0: 2, 'IV': 3, 'SC': 4, 'IV|PO': 5}
6 ['PALLIATIVE' 0 'PROGRESSION' 'OTHER, SPECIFY IN NOTES' 'ADJUVANT'
 'RECURRENCE'] {'PALLIATIVE': 1, 0: 2, 'PROGRESSION': 3, 'OTHER, SPECIFY IN NOTES': 4, 'ADJUVANT': 5, 'RECURRENCE': 6}
5 [0 'Partial Remission/Response' 'Progressive Disease'
 'Complete Remission/Response' 'Stable Disease'] {0: 1, 'Partial Remission/Response': 2, 'Progressive Disease': 3, 'Complete Remission/Response': 4, 'Stable Disease': 5}
4 ['WITH TUMOR' 'TUMOR FREE' 0 1] {'WITH TUMOR': 1, 'TUMOR FREE': 2, 0: 3, 1: 4}
3 ['NO' 'YES' 0] {'NO': 1, 'YES': 2, 0: 3}
5 [0 'Progressive Disease' 'Complete Remission/Response' 'Stable Disease' 1] {0: 1, 'Progressive Disease': 2, 'Complete Remission/Response': 3, 'Stable Disease': 4, 1: 5}

,radiation_therapy_started_days_to,tumor_grade,laterality,prospective_collection,gender,race,ethnicity,history_other_malignancy,history_neoadjuvant_treatment,lymph_nodes_examined_count,...,route_of_administration,therapy_regimen_drug,treatment_outcome_first_course,tumor_status_followup,death_days_to,new_tumor_event_dx_days_to,new_tumor_event_surgery_met,treatment_outcome_at_tcga_followup,radiation_total_dose,radiation_adjuvant_fractions_total
0,263,1,1,1,1,1,1,1,1,10,...,1,1,1,1,344,13,1,1,3000,5
1,271,1,1,1,1,1,1,1,1,10,...,1,1,1,1,344,13,1,1,3000,5
2,61,1,1,1,1,1,1,1,1,10,...,1,1,1,1,344,13,1,1,3000,10
3,263,1,1,1,1,1,1,1,1,10,...,1,1,1,1,344,243,1,1,3000,5
4,271,1,1,1,1,1,1,1,1,10,...,1,1,1,1,344,243,1,1,3000,5
5,61,1,1,1,1,1,1,1,1,10,...,1,1,1,1,344,243,1,1,3000,10
6,263,1,1,1,1,1,1,1,1,10,...,1,1,1,1,344,265,2,1,3000,5
7,271,1,1,1,1,1,1,1,1,10,...,1,1,1,1,344,265,2,1,3000,5
8,61,1,1,1,1,1,1,1,1,10,...,1,1,1,1,344,265,2,1,3000,10
9,481,2,1,1,1,1,1,1,1,2,...,2,2,1,1,0,359,2,1,3250,0

In [0]:
df["lymph_nodes_examined_count"].unique()

array([10,  2,  0, 17,  1,  9,  5, 16, 14,  4, 19,  3, 21,  6, 11,  8,  7,
       13, 15, 25], dtype=int64)

In [0]:
y=df['tumor_grade']
df.drop('tumor_grade',axis=1,inplace=True)

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train,X_test,y_train,y_test=train_test_split(df,y,random_state=42,test_size=0.2)
for column in ["lymph_nodes_examined_count","radiation_adjuvant_fractions_total","death_days_to","radiation_therapy_started_days_to","new_tumor_event_dx_days_to","radiation_total_dose","regimen_number"]:
  X_train[column]=np.log(np.absolute(X_train[column])+1)
  X_test[column]=np.log(np.absolute(X_test[column])+1)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
knn=KNeighborsClassifier(n_neighbors=5)
clf = svm.SVC(kernel='linear', C=4)
scores = cross_val_score(knn, X_train, y_train, cv=5)
print(scores)

[0.56626506 0.59259259 0.6        0.7125     0.56962025]

D:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

In [0]:
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))#Accuracy score of Using K Nearest Neighbours

0.594059405940594

In [0]:
scores = cross_val_score(clf, X_train, y_train,cv=5)
print(scores)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print(accuracy_score(y_test,y_pred))#Accuracy score for Using SVM

D:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

[0.63855422 0.71604938 0.775      0.7375     0.65822785]
0.7128712871287128

In [0]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
scores = cross_val_score(dtc, X_train, y_train, cv=3)
print(scores)

[0.64963504 0.69172932 0.72180451]

D:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

In [0]:
dtc.fit(X_train,y_train)
y_pred=dtc.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.7524752475247525

In [0]:
from sklearn.ensemble import RandomForestClassifier
rfc= RandomForestClassifier(max_depth=5)
scores = cross_val_score(rfc, X_train, y_train, cv=3)
print(scores)

D:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

[0.68613139 0.65413534 0.69924812]

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [0]:
rfc.fit(X_train,y_train)
y_pred=dtc.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.7524752475247525

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [0]:
from sklearn.ensemble import GradientBoostingClassifier

gbc=GradientBoostingClassifier(n_estimators=200,max_depth=4,verbose=True)
cross_val_score(gbc,X_train,y_train,cv=3)

D:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

      Iter       Train Loss   Remaining Time
         1         261.9452            0.80s
         2         238.8024            1.22s
         3         217.9153            1.18s
         4         200.3745            1.22s
         5         185.5232            1.17s
         6         173.2195            1.25s
         7         162.0010            1.37s
         8         152.5328            1.33s
         9         142.9792            1.41s
        10         135.0203            1.41s
        20          88.0868            1.22s
        30          63.1058            1.27s
        40          48.7158            1.18s
        50          40.2793            1.06s
        60          33.9808            1.01s
        70          28.6192            0.93s
        80          24.1087            0.85s
        90          19.7833            0.78s
       100          16.2205            0.71s
       200           3.5473            0.00s
      Iter       Train Loss   Remaining Time
         1         262.4582            3.07s
         2         236.2937            2.32s
         3         214.7244            2.06s
         4         196.6985            1.93s
         5         182.0125            2.01s
         6         169.0695            1.92s
         7         158.2465            1.86s
         8         148.8249            1.91s
         9         140.8688            1.86s
        10         132.9465            1.84s
        20          86.8084            1.49s
        30          61.3542            1.44s
        40          47.0562            1.32s
        50          38.9762            1.21s
        60          30.8202            1.12s
        70          25.7408            1.03s
        80          22.1144            0.94s
        90          18.2211            0.86s
       100          15.7940            0.78s
       200           7.0026            0.00s
      Iter       Train Loss   Remaining Time
         1         262.9753            2.42s
         2         236.7675            1.40s
         3         215.5832            1.96s
         4         198.5061            1.51s
         5         183.9070            1.85s
         6         171.5584            1.81s
         7         160.6575            1.57s
         8         150.8240            1.78s
         9         141.4479            1.57s
        10         133.8526            1.71s
        20          90.8652            1.56s
        30          66.6345            1.38s
        40          51.0815            1.36s
        50          39.7856            1.28s
        60          31.1991            1.18s
        70          25.2512            1.09s
        80          20.5240            0.99s
        90          17.1301            0.92s
       100          14.2379            0.82s
       200           3.7994            0.00s

array([0.67153285, 0.76691729, 0.83458647])

In [0]:
gbc.fit(X_train,y_train)

      Iter       Train Loss   Remaining Time
         1         396.4595            2.20s
         2         359.7084            1.80s
         3         329.1067            1.70s
         4         302.7300            1.78s
         5         281.0608            1.89s
         6         263.0719            2.00s
         7         247.1793            1.93s
         8         233.7181            1.96s
         9         220.7229            2.02s
        10         210.5224            1.83s
        20         146.6938            1.81s
        30         116.9604            1.68s
        40          97.5680            1.58s
        50          83.0594            1.44s
        60          68.2042            1.34s
        70          58.0932            1.23s
        80          50.1350            1.14s
        90          43.6434            1.03s
       100          38.9025            0.94s
       200          12.7220            0.00s

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=4,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=200,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=True,
                           warm_start=False)

In [0]:
y_pred=gbc.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.8118811881188119

In [0]:
#this section will have the result of 33 features

In [0]:
y.unique()

array([1, 2, 3, 4], dtype=int64)