In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
#this section will be on the 28 features excel file

In [0]:
df=pd.read_excel("33 Features.xlsx")
#df.head(5)

In [0]:
#df.columns

In [0]:
#df['tumor_grade'].unique()

In [0]:
#df.isnull().sum()

In [0]:
#for i in df.columns:
  #print(str(i)+"--->",df[i].unique())

In [0]:
df.replace({'[not]':0,'[Unknown]':1,'[not ]':0,"Yes, History of Synchronous/Bilateral Malignancy":'Yes','Yes, History of Prior Malignancy':'Yes'},inplace=True)

In [0]:
for i in df.columns:
  print(str(i)+"--->",df[i].unique())

gender---> ['FEMALE' 'MALE']
history_neoadjuvant_treatment---> ['No' 'Yes']
ajcc_nodes_pathologic_pn---> ['N0' 'NX' 'N1']
treatment_outcome_first_course---> [0 'Partial Remission/Response' 'Progressive Disease'
 'Complete Remission/Response' 'Stable Disease']
lymph_nodes_examined_positive---> [0 2 1]
ajcc_pathologic_tumor_stage---> ['Stage IV' 'Stage III' 'Stage I' 'Stage II']
new_tumor_event_surgery_met---> ['NO' 'YES' 0]
therapy_regimen_drug---> ['PALLIATIVE' 0 'PROGRESSION' 'OTHER, SPECIFY IN NOTES' 'ADJUVANT'
 'RECURRENCE']
laterality---> ['Right' 'Left']
platelet_count---> ['Normal' 'Low' 0 'Elevated']
lymph_nodes_examined_count---> [10  2  0 17  1  9  5 16 14  4 19  3 21  6 11  8  7 13 15 25]
tumor_status_followup---> ['WITH TUMOR' 'TUMOR FREE' 0 1]
pharmaceutical_tx_ongoing_indicator---> ['NO' 0 'YES']
ajcc_tumor_pathologic_pt---> ['T3b' 'T3a' 'T1b' 'T1a' 'T2' 'T2a' 'T4' 'T1' 'T2b' 'T3c']
ajcc_metastasis_pathologic_pm---> ['M1' 'M0' 'MX']
vital_status_followup---> ['Dead' 'Alive' 0]
serum_calcium_level---> ['Normal' 'Low' 'Elevated' 0]
tissue_source_site---> ['BP' 'B0' 'CJ' 'DV' 'CW' 'CZ' 'B8' 'G6']
ecog_score_final---> [0 1 2 3]
white_cell_count---> ['Elevated' 'Normal' 0 'Low']
tumor_grade---> ['G4' 'G2' 'G3' 'G1']
tumor_status_patient---> ['WITH TUMOR' 'TUMOR FREE' 0]
pharmaceutical_therapy_drug_name---> ['Sunitinib' 0 'xeloda' 'Sutent (Sunitinib)' 'Sorafenib - Nexavar'
 'Bevacizumab' 'Temsirolimus' 'proleukin (IL-2)' 'Gemcitabine' 'Avastin'
 'Sutent' 'Axitnib' 'Oncophage' 'Sorafenib' 'Interferon' 'IL-2'
 'gemcitabine' 'RAD001' 'avastin' 'Tarceva' 'Axitinib' 'thalidomide'
 'interferon-alpha' 'Xeloda' 'Pazopanib' 'Afinitor' 'Iressa' 'Zometa'
 'Interleukin-2' 'Everolimus' 'oncophage vaccine' 'Bay-439006' 'sorafenib'
 'sunitinib' 'Bortezomib' 'AZD' 'Intron A' 'nab-rapamycin' 'Roferon-A'
 'IFN-Alpha (Intron)' 'interleukin-2' 'Gemzar'
 'IL-2 Therapy (interleukin)' 'Gefitinib' 'Alpha Interferon' 'Nexavar'
 'Interleukin 2-high dose' 'IL-2 (high dose)' 'sutent (sunitinib)'
 'ZD6474']
race---> ['WHITE' 'BLACK OR AFRICAN AMERICAN' 0 'ASIAN']
death_days_to---> [ 344    0 1625  563  446  822 1317  320  572   93  313  164  552 1714
  701  679 1343  166  162  224 2454  480 1337 1639 3615 1092  362  768
  571  206 1912 1493   42  770 2299  139  561 2227 1463  574 2343   59
 1964  202 1230  727 1590  828   69  878 1075  587 1200  992   41  485
 2256  329   62  932 1661 1986  841  819  782 1432 1034  709  311 1270
 2386  645 1133 1598  475  953 2190 1626 2105  722 1173  445  375 1111
  242]
vital_status_followup.1---> ['Dead' 'Alive' 0]
pharmaceutical_therapy_type---> ['Targeted Molecular therapy' 0 'Chemotherapy' 'Immunotherapy'
 'Other, specify in notes']
new_tumor_event_dx_days_to---> [  13  243  265  359  137    0 2008  634  781   25   33  304  102 1717
 1727   17   78  595  110   23   75  144  259  441  725  -19  492  324
  213  153 1457 2780  457 2041  396 1709  886  694  485 2003 1821 1876
  330 1467 1530  399 3766    4  740  582  672  223  873 2004 1227   70
   61  295 1270  903  240 1423  208  169  322 -359  900  748  158  288
  736  188  990  685  442  352  357  278  160  454  299  604  597 1912
  423  538  377]
ethnicity---> ['NOT HISPANIC OR LATINO' 0 'HISPANIC OR LATINO']
hemoglobin_level---> ['Low' 'Normal' 0 'Elevated']
prospective_collection---> ['NO' 0 'YES']
radiation_therapy_started_days_to---> [ 263  271   61  481  165    0  385  422   69  -72   21  603  227  298
  153  457 1755 1787 1903 1174 2070 1534  119  748  994  234    6  685
  702  324  477  600  483  169  301  729  842]
history_other_malignancy---> ['No' 'Yes']

In [0]:
for column in df.columns:
  if column not in ["lymph_nodes_examined_count","death_days_to","radiation_therapy_started_days_to","new_tumor_event_dx_days_to"] :
    n=len(df[column].unique())
    l=[1+i for i in range(n)]
    map_dict={}
    l2=df[column].unique()
    for j in range(len(l2)):
      map_dict[l2[j]]=l[j]
    df[column].replace(map_dict,inplace=True)
    print(n,l2,map_dict)
df.head(10)

2 ['FEMALE' 'MALE'] {'FEMALE': 1, 'MALE': 2}
2 ['No' 'Yes'] {'No': 1, 'Yes': 2}
3 ['N0' 'NX' 'N1'] {'N0': 1, 'NX': 2, 'N1': 3}
5 [0 'Partial Remission/Response' 'Progressive Disease'
 'Complete Remission/Response' 'Stable Disease'] {0: 1, 'Partial Remission/Response': 2, 'Progressive Disease': 3, 'Complete Remission/Response': 4, 'Stable Disease': 5}
3 [0 2 1] {0: 1, 2: 2, 1: 3}
4 ['Stage IV' 'Stage III' 'Stage I' 'Stage II'] {'Stage IV': 1, 'Stage III': 2, 'Stage I': 3, 'Stage II': 4}
3 ['NO' 'YES' 0] {'NO': 1, 'YES': 2, 0: 3}
6 ['PALLIATIVE' 0 'PROGRESSION' 'OTHER, SPECIFY IN NOTES' 'ADJUVANT'
 'RECURRENCE'] {'PALLIATIVE': 1, 0: 2, 'PROGRESSION': 3, 'OTHER, SPECIFY IN NOTES': 4, 'ADJUVANT': 5, 'RECURRENCE': 6}
2 ['Right' 'Left'] {'Right': 1, 'Left': 2}
4 ['Normal' 'Low' 0 'Elevated'] {'Normal': 1, 'Low': 2, 0: 3, 'Elevated': 4}
4 ['WITH TUMOR' 'TUMOR FREE' 0 1] {'WITH TUMOR': 1, 'TUMOR FREE': 2, 0: 3, 1: 4}
3 ['NO' 0 'YES'] {'NO': 1, 0: 2, 'YES': 3}
10 ['T3b' 'T3a' 'T1b' 'T1a' 'T2' 'T2a' 'T4' 'T1' 'T2b' 'T3c'] {'T3b': 1, 'T3a': 2, 'T1b': 3, 'T1a': 4, 'T2': 5, 'T2a': 6, 'T4': 7, 'T1': 8, 'T2b': 9, 'T3c': 10}
3 ['M1' 'M0' 'MX'] {'M1': 1, 'M0': 2, 'MX': 3}
3 ['Dead' 'Alive' 0] {'Dead': 1, 'Alive': 2, 0: 3}
4 ['Normal' 'Low' 'Elevated' 0] {'Normal': 1, 'Low': 2, 'Elevated': 3, 0: 4}
8 ['BP' 'B0' 'CJ' 'DV' 'CW' 'CZ' 'B8' 'G6'] {'BP': 1, 'B0': 2, 'CJ': 3, 'DV': 4, 'CW': 5, 'CZ': 6, 'B8': 7, 'G6': 8}
4 [0 1 2 3] {0: 1, 1: 2, 2: 3, 3: 4}
4 ['Elevated' 'Normal' 0 'Low'] {'Elevated': 1, 'Normal': 2, 0: 3, 'Low': 4}
4 ['G4' 'G2' 'G3' 'G1'] {'G4': 1, 'G2': 2, 'G3': 3, 'G1': 4}
3 ['WITH TUMOR' 'TUMOR FREE' 0] {'WITH TUMOR': 1, 'TUMOR FREE': 2, 0: 3}
50 ['Sunitinib' 0 'xeloda' 'Sutent (Sunitinib)' 'Sorafenib - Nexavar'
 'Bevacizumab' 'Temsirolimus' 'proleukin (IL-2)' 'Gemcitabine' 'Avastin'
 'Sutent' 'Axitnib' 'Oncophage' 'Sorafenib' 'Interferon' 'IL-2'
 'gemcitabine' 'RAD001' 'avastin' 'Tarceva' 'Axitinib' 'thalidomide'
 'interferon-alpha' 'Xeloda' 'Pazopanib' 'Afinitor' 'Iressa' 'Zometa'
 'Interleukin-2' 'Everolimus' 'oncophage vaccine' 'Bay-439006' 'sorafenib'
 'sunitinib' 'Bortezomib' 'AZD' 'Intron A' 'nab-rapamycin' 'Roferon-A'
 'IFN-Alpha (Intron)' 'interleukin-2' 'Gemzar'
 'IL-2 Therapy (interleukin)' 'Gefitinib' 'Alpha Interferon' 'Nexavar'
 'Interleukin 2-high dose' 'IL-2 (high dose)' 'sutent (sunitinib)'
 'ZD6474'] {'Sunitinib': 1, 0: 2, 'xeloda': 3, 'Sutent (Sunitinib)': 4, 'Sorafenib - Nexavar': 5, 'Bevacizumab': 6, 'Temsirolimus': 7, 'proleukin (IL-2)': 8, 'Gemcitabine': 9, 'Avastin': 10, 'Sutent': 11, 'Axitnib': 12, 'Oncophage': 13, 'Sorafenib': 14, 'Interferon': 15, 'IL-2': 16, 'gemcitabine': 17, 'RAD001': 18, 'avastin': 19, 'Tarceva': 20, 'Axitinib': 21, 'thalidomide': 22, 'interferon-alpha': 23, 'Xeloda': 24, 'Pazopanib': 25, 'Afinitor': 26, 'Iressa': 27, 'Zometa': 28, 'Interleukin-2': 29, 'Everolimus': 30, 'oncophage vaccine': 31, 'Bay-439006': 32, 'sorafenib': 33, 'sunitinib': 34, 'Bortezomib': 35, 'AZD': 36, 'Intron A': 37, 'nab-rapamycin': 38, 'Roferon-A': 39, 'IFN-Alpha (Intron)': 40, 'interleukin-2': 41, 'Gemzar': 42, 'IL-2 Therapy (interleukin)': 43, 'Gefitinib': 44, 'Alpha Interferon': 45, 'Nexavar': 46, 'Interleukin 2-high dose': 47, 'IL-2 (high dose)': 48, 'sutent (sunitinib)': 49, 'ZD6474': 50}
4 ['WHITE' 'BLACK OR AFRICAN AMERICAN' 0 'ASIAN'] {'WHITE': 1, 'BLACK OR AFRICAN AMERICAN': 2, 0: 3, 'ASIAN': 4}
3 ['Dead' 'Alive' 0] {'Dead': 1, 'Alive': 2, 0: 3}
5 ['Targeted Molecular therapy' 0 'Chemotherapy' 'Immunotherapy'
 'Other, specify in notes'] {'Targeted Molecular therapy': 1, 0: 2, 'Chemotherapy': 3, 'Immunotherapy': 4, 'Other, specify in notes': 5}
3 ['NOT HISPANIC OR LATINO' 0 'HISPANIC OR LATINO'] {'NOT HISPANIC OR LATINO': 1, 0: 2, 'HISPANIC OR LATINO': 3}
4 ['Low' 'Normal' 0 'Elevated'] {'Low': 1, 'Normal': 2, 0: 3, 'Elevated': 4}
3 ['NO' 0 'YES'] {'NO': 1, 0: 2, 'YES': 3}
2 ['No' 'Yes'] {'No': 1, 'Yes': 2}

,gender,history_neoadjuvant_treatment,ajcc_nodes_pathologic_pn,treatment_outcome_first_course,lymph_nodes_examined_positive,ajcc_pathologic_tumor_stage,new_tumor_event_surgery_met,therapy_regimen_drug,laterality,platelet_count,...,race,death_days_to,vital_status_followup.1,pharmaceutical_therapy_type,new_tumor_event_dx_days_to,ethnicity,hemoglobin_level,prospective_collection,radiation_therapy_started_days_to,history_other_malignancy
0,1,1,1,1,1,1,1,1,1,1,...,1,344,1,1,13,1,1,1,263,1
1,1,1,1,1,1,1,1,1,1,1,...,1,344,1,1,13,1,1,1,271,1
2,1,1,1,1,1,1,1,1,1,1,...,1,344,1,1,13,1,1,1,61,1
3,1,1,1,1,1,1,1,1,1,1,...,1,344,1,1,243,1,1,1,263,1
4,1,1,1,1,1,1,1,1,1,1,...,1,344,1,1,243,1,1,1,271,1
5,1,1,1,1,1,1,1,1,1,1,...,1,344,1,1,243,1,1,1,61,1
6,1,1,1,1,1,1,2,1,1,1,...,1,344,1,1,265,1,1,1,263,1
7,1,1,1,1,1,1,2,1,1,1,...,1,344,1,1,265,1,1,1,271,1
8,1,1,1,1,1,1,2,1,1,1,...,1,344,1,1,265,1,1,1,61,1
9,1,1,1,1,1,2,2,2,1,1,...,1,0,2,2,359,1,2,1,481,1

In [0]:
df["lymph_nodes_examined_count"].unique()

array([10,  2,  0, 17,  1,  9,  5, 16, 14,  4, 19,  3, 21,  6, 11,  8,  7,
       13, 15, 25], dtype=int64)

In [0]:
y=df['tumor_grade']
df.drop('tumor_grade',axis=1,inplace=True)

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train,X_test,y_train,y_test=train_test_split(df,y,random_state=42,test_size=0.2)
for column in X_train:#["lymph_nodes_examined_count","death_days_to","radiation_therapy_started_days_to","new_tumor_event_dx_days_to"]:
  X_train[column]=np.log(np.absolute(X_train[column])+1)
for column in X_test:
  X_test[column]=np.log(np.absolute(X_test[column])+1)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [0]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
knn=KNeighborsClassifier(n_neighbors=5)
clf = svm.SVC(kernel='linear', C=4)
scores = cross_val_score(knn, X_train, y_train, cv=5)
print(scores)

[0.59036145 0.62962963 0.725      0.75       0.55696203]

D:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

In [0]:
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))#Accuracy score of Using K Nearest Neighbours

0.6435643564356436

In [0]:
scores = cross_val_score(clf, X_train, y_train,cv=5)
print(scores)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print(accuracy_score(y_test,y_pred))#Accuracy score for Using SVM

D:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

[0.60240964 0.71604938 0.8125     0.75       0.6835443 ]
0.693069306930693

In [0]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
scores = cross_val_score(dtc, X_train, y_train, cv=3)
print(scores)

[0.68613139 0.68421053 0.73684211]

D:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

In [0]:
dtc.fit(X_train,y_train)
y_pred=dtc.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.7821782178217822

In [0]:
from sklearn.ensemble import RandomForestClassifier
rfc= RandomForestClassifier(max_depth=5)
scores = cross_val_score(rfc, X_train, y_train, cv=3)
print(scores)

[0.65693431 0.63157895 0.69924812]

D:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)
D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [0]:
rfc.fit(X_train,y_train)
y_pred=dtc.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.7821782178217822

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [0]:
from sklearn.ensemble import GradientBoostingClassifier

gbc=GradientBoostingClassifier(n_estimators=200,max_depth=4,verbose=True)
cross_val_score(gbc,X_train,y_train,cv=3)

D:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

      Iter       Train Loss   Remaining Time
         1         262.3394            0.97s
         2         239.5088            0.88s
         3         218.4601            0.97s
         4         200.8213            1.24s
         5         185.8708            1.33s
         6         173.5015            1.38s
         7         162.2207            1.33s
         8         152.0340            1.40s
         9         143.3191            1.39s
        10         134.8058            1.39s
        20          90.1377            1.26s
        30          64.4428            1.22s
        40          50.0562            1.11s
        50          39.6127            1.03s
        60          31.7241            0.95s
        70          25.8959            0.89s
        80          21.0675            0.82s
        90          17.5628            0.75s
       100          14.2003            0.68s
       200           3.6588            0.00s
      Iter       Train Loss   Remaining Time
         1         262.8578            0.86s
         2         236.7807            1.28s
         3         215.3107            1.18s
         4         197.8887            1.32s
         5         183.1729            1.36s
         6         170.5306            1.16s
         7         159.3841            1.26s
         8         150.0071            1.33s
         9         141.4105            1.39s
        10         133.6449            1.42s
        20          86.6566            1.38s
        30          63.5982            1.28s
        40          50.6093            1.18s
        50          41.1685            1.10s
        60          32.8279            1.03s
        70          26.6642            0.95s
        80          21.7090            0.88s
        90          18.5393            0.80s
       100          15.8340            0.72s
       200           6.7151            0.00s
      Iter       Train Loss   Remaining Time
         1         262.9710            2.05s
         2         236.7805            1.82s
         3         215.7797            1.70s
         4         198.3668            1.66s
         5         183.3493            1.74s
         6         170.0360            1.84s
         7         159.7668            2.02s
         8         150.0608            2.09s
         9         140.6300            2.35s
        10         133.6885            2.46s
        20          89.6013            1.95s
        30          66.3618            1.64s
        40          49.5711            1.45s
        50          41.0497            1.31s
        60          32.7074            1.21s
        70          26.0446            1.10s
        80          21.3846            0.99s
        90          17.2589            0.92s
       100          14.1759            0.82s
       200           3.8545            0.00s

array([0.70072993, 0.79699248, 0.83458647])

In [0]:
gbc.fit(X_train,y_train)

      Iter       Train Loss   Remaining Time
         1         396.7763            1.60s
         2         359.8549            1.87s
         3         329.6732            1.77s
         4         303.4880            1.80s
         5         282.1312            1.84s
         6         264.4700            1.85s
         7         247.8846            1.88s
         8         234.5824            1.87s
         9         222.8092            1.83s
        10         211.5700            1.79s
        20         146.7066            1.64s
        30         116.1460            1.56s
        40          94.1382            1.43s
        50          77.3605            1.35s
        60          65.1797            1.25s
        70          55.2273            1.16s
        80          46.5374            1.07s
        90          40.7396            0.98s
       100          35.6440            0.88s
       200          13.7843            0.00s

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=4,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=200,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=True,
                           warm_start=False)

In [0]:
y_pred=gbc.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.8217821782178217

In [0]:
#this section will have the result of 33 features

In [0]:
y.unique()

array([1, 2, 3, 4], dtype=int64)